.wrapper {
  border-top: 2px solid #30a7fa;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

header, section {
  padding: 0 1em;
  text-align: center;
}

section.flush {
  text-align: left;
  padding: 0;
}

#countdown {
  height: 1px;
  width: 0px;
  background: #fda729;
}
