body {
  background-color: #666;
}

#hero {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-image: url(/images/skyline.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -100px;
}

.wrapper {
  width: 100%;
  max-width: 645px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 1px 2px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 1px 2px rgba(0,0,0,0.1);
  border-top: 1px solid #444;
}

header, section, footer {
  padding: 0 1em;
  text-align: center;
}

header {

  padding: 10px;
  position: fixed;
  width: 100%;
  max-width: 625px;
  background-color: #444;
  border-bottom: 2px solid #30a7fa;

  h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    color: #fff;
  }

  .pure-button {
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .settings-toggle {
    font-size: 20px;
    padding: 3px 1em;
    right: 10px;
    left: auto;
  }

  .pure-menu {
    position: absolute;
    text-align: left;
    top: 46px;
    right: 10px;

    &.pure-menu-open {
      width: 200px;
    }
  }
}

section.flush {
  text-align: left;
  padding: 0;
}

footer {
  padding: 10px;
  font-size: 0.6em;
  color: #aaa;

  p {
    margin: 0;
  }

  a, a:visited {
    color: #888;
  }
}
