body {
}

.wrapper {
  border-top: 2px solid #30a7fa;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

header, section, footer {
  padding: 0 1em;
  text-align: center;
}

header {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #ccc;
  h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    color: #000;
  }

  .pure-button {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .settings-toggle {
    font-size: 20px;
    padding: 3px 1em;
    right: 10px;
    left: auto;
  }

  .pure-menu {
    position: absolute;
    text-align: left;
    top: 46px;
    right: 10px;

    &.pure-menu-open {
      width: 200px;
    }
  }
}

section.flush {
  text-align: left;
  padding: 0;
}

footer {
  font-size: 0.6em;
  color: #AAA;
  a, a:visited {
    color: #888;
  }
}
