.wrapper {
  border-top: 2px solid #30a7fa;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

header, section, footer {
  padding: 0 1em;
  text-align: center;
}

section.flush {
  text-align: left;
  padding: 0;
}

footer {
  font-size: 0.6em;
  color: #AAA;
  a, a:visited {
    color: #888;
  }
}
