<a href="/" class="pure-button pull-left" ng-show="showBackBtn">Back</a>

<button class="pure-button pull-right settings-toggle" ng-click="openMenu=!openMenu"><span class="glyphicon glyphicon-cog"></span></button>
<div class="pure-menu pull-right" ng-class="{'pure-menu-open':openMenu}" style="">
    <ul>
        <li>
            <a href="" ng-click="toggleAutorefresh()" ng-model="Marta.autorefresh">Auto Refresh: {{Marta.autorefresh ? "On" : "Off" }}</a>
        </li>
    </ul>
</div>

<h1>Marta Arrival Times</h1>

