<section id="station-search">
  <form class="pure-form">
    <input type="search" placeholder="Search By Station Name" autofocus="true" ng-model="stationSearch" />
    <button ng-click="toggleAutorefresh()" ng-class="{'pure-button-primary': Marta.autorefresh}" class="pure-button" ng-model="Marta.autorefresh">Autorefresh: {{Marta.autorefresh}}</button>
  </form>
</section>

<section id="all-stations" class="stations-list flush flush-list">
	<ul>
    <li ng-show="session.nearest">
      <a href="/station/{{session.nearest.station}}">{{session.nearest.station}} &rarr;<span class="next-arrival" ng-class="session.nearest.line">{{Marta.dirMap[session.nearest.direction]}}bound {{session.nearest.waiting_time}} </span></a>
    </li>
    <li ng-repeat="arrival in Marta.arrivals | filter:{station: stationSearch} | jsUnique:'station' | orderBy:'station'">
    <a href="/station/{{arrival.station}}">{{arrival.station}} &rarr;<span class="next-arrival" ng-class="arrival.line">{{Marta.dirMap[arrival.direction]}}bound {{arrival.waiting_time}} </span></a>
    </li>
	</ul>
</section>
