<section id="nearby-stations" class="stations-list flush flush-list" 
    ng-show="Marta.nearbyArrivals.length > 0">
	<ul>
    <li class="section-title flush-top">
      <h2><span class="glyphicon glyphicon-map-marker geo-indicator" ng-show="Marta.determiningPosition"></span> Nearby Station Arrivals</h2>
    </li>
    <li ng-repeat="value in Marta.nearbyArrivals">
	    <a href="/station/{{value.arrivals[0].station}}">
        <span class="left">
          {{Marta.stationName(value.arrivals[0].station)}}
        </span>
        <span class="right">
          <span class="next-arrival" ng-class="arrival.line" ng-repeat="(direction, arrival) in value.closest">
            <span class='dir'>{{ direction }}</span><span ng-class="{scheduled: arrival.scheduled}" class='time'>{{ arrival.waiting_time | waitTime }}</span>
          </span>
        </span>
      </a>
    </li>
  </ul>
</section>

<section id="all-stations" class="stations-list flush flush-list" ng-show="Marta.arrivals.length > 0">
  <ul>
    <li class="section-title">
      <h2>All Station Arrivals</h2>
    </li>
    <li id="station-search">
      <form class="pure-form">
        <input type="search" class="pure-input-1" placeholder="Search By Station Name" ng-model="stationSearch" />
      </form>
    </li>
    <li ng-repeat="station in Marta.arrivalsByStation | filter:{station: stationSearch} | orderBy:'station'">
	    <a href="/station/{{station.station}}">
        <span class="left">
          {{Marta.stationName(station.station)}}
        </span>
        <span class="right">
          <span class="next-arrival" ng-class="arrival.line" ng-repeat="(direction, arrival) in station.closest">
            <span class='dir'>{{ direction }}</span><span ng-class="{scheduled: arrival.scheduled}" class='time'>{{ arrival.waiting_time | waitTime }}</span>
          </span>
        </span>
      </a>
    </li>
	</ul>
</section>

<section id="no-stations" ng-show="Marta.arrivals && Marta.arrivals.length == 0">
<h3>No arrival estimates available</h3>
<p>You're probably looking at this when you should be asleep.</p>
</section>
