<section id="station-search">
  <form class="pure-form">
    <input type="search" placeholder="Search By Station Name" autofocus="true" />
  </form>
</section>

<section id="recent-searches" class="stations-list">
  <h3>Recent Searches</h3>
  <ul>
    <li><a href="/station/1">5 Points</a></li>
    <li><a href="/station/1">Chamblee</a></li>
    <li><a href="/station/1">Doraville</a></li>
    <li><a href="/station/1">I'm fake tho</a></li>
  </ul>
</section>

<section id="all-stations" class="stations-list">
	<h3>All Stations</h3>
	<ul>
		<li ng-repeat="arrival in Marta.arrivals"><a href="/station/{{arrival.station}}">{{arrival.station}}</a></li>
	</ul>
</section>
